 <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">审核通过</div>

                            </div>
                             <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                        <select data-am-selected="{btnSize: 'sm'}" style="display: none;" id="typeSelect" onchange="changeType()">
                                          <option value="1">全部</option>
                                          <option value="2">已发红包</option>
                                          <option value="3">未发红包</option>
                                        </select>
                                </div>
                            </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field " id="searchText">
                                        <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button" id="searchBtn"></button>
                                        </span>
                                    </div>
                                </div>


                                 <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                    <thead>
                                        <tr>
                                            <th >订单号</th>
                                            <th >红包金额</th>
                                            <th >发放</th>
                                            <th >修改日期</th>
                                        </tr>
                                    </thead>
                                        <tbody id="tableBody" >
                                        {% include 'refund_task/passed_table.html' %}
                                        </tbody>
                                </table>
                                <div class="am-u-lg-12 am-cf">

                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination" id="pageList" >
                                        </ul>
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
                </div>
</div>

                <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/iscroll.js"></script>
<script>

    $(document).ready(function () {
        console.log('doc ready');
       var pageNum = $('#totalNumDiv').attr('totalPage');
       console.log('pageNum'+pageNum);
       initPage(1,pageNum);
    });
    function changeType() {
        resetPage();
        flushData();
    }
    $('#pageList').on( "click", ".pageBtn", function() {
        console.log(this.id);
        $('.pageBtn').removeClass('am-active');
        $(this).addClass('am-active');
        flushData();
    })
{#    $(".pageBtn").click(function () {#}
{#        console.log(this.id);#}
{#        $('.pageBtn').removeClass('am-active');#}
{#        $(this).addClass('am-active');#}
{#        flushData();#}
{#    });#}

    $("#searchBtn").click(function () {
        resetPage();
        flushData();
    });
    function flushData() {
        var page = 1;
        if($(".pageBtn.am-active").length != 0)
            page = $(".pageBtn.am-active").children()[0].text;
        console.log('currentPage:'+page);
        var type = $("#typeSelect").val();
        console.log('refundType:'+type);
        var searchText = $("#searchText").val();
        console.log('searchText:'+searchText);
        $.ajax({
            type: "get",
            url:"/refund_task/passed_table/",
            data:{page:page,search:searchText,type:type},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $('#tableBody').html(data);
                var pageNum = $('#totalNumDiv').attr('totalPage');
                console.log(pageNum);
                initPage(page,pageNum);
            }
        });
    }

    function resetPage() {
        $('#tableBody').html("");
        $('#pageList').html("");
    }

    function initPage(currentPage,totalPage) {
        currentPage = parseInt(currentPage);
        totalPage = parseInt(totalPage);
        var startPage = currentPage - 5 >= 1?currentPage-5:1;
        console.log('startPage:'+startPage);
        var endPage = currentPage + 5 <= totalPage? currentPage+5:totalPage;
        console.log('endPage:'+endPage);
        text = '';
        for(var i = startPage ; i <= endPage ; ){
            if(i == currentPage){
                text += "<li id=\"page"+i+"\" class=\"pageBtn am-active\"><a href=\"#\">"+i+"</a></li>";
            }else {
                text += "<li id=\"page" + i + "\" class=\"pageBtn\"><a href=\"#\">" + i + "</a></li>";
            }
            i ++;
        }
        console.log(text);
        $('#pageList').html( text);
    }
</script>








