{% for upload in uploads %}
                                        <tr id="tr_{{ upload.id }}" class="gradeX">
                                            <td class="am-text-middle">{{ upload.order_id }}</td>
                                            <td class="am-text-middle">{% widthratio upload.money 100 1%}</td>
                                            <td class="am-text-middle">
                                            {% if upload.refund_flag %}
                                            已发
                                            {% else %}
                                            未发
                                            {% endif %}
                                            </td >
                                            <td class="am-text-middle">{{ upload.update_time |date:"Y-m-d H:i:s"}}</td>
                                        </tr>
                                        {% endfor %}
<div id="totalNumDiv" totalPage="{{ pageNum }}"></div>
<script>

</script>