{% for upload in uploads %}
                                        <tr id="tr_{{ upload.id }}" class="gradeX">
                                            <td ><input type="checkbox" class="uploadCheckbox" val={{ upload.id }}></td>
                                            <td class="am-text-middle">{{ upload.order_id }}</td>
                                            <td >
                                                {% if upload.image1_id != '' %}
                                                <img class="tpl-table-line-img" src="/assets/wx_temp/{{ upload.image1_id }}.jpg" height="60">
                                                {% endif %}
                                            </td>
                                            <td >
                                                {% if upload.image2_id != '' %}
                                                <img class="tpl-table-line-img" src="/assets/wx_temp/{{ upload.image2_id }}.jpg" height="60">
                                                {% endif %}
                                            </td>
                                            <td >
                                                {% if upload.image3_id != '' %}
                                                <img class="tpl-table-line-img" src="/assets/wx_temp/{{ upload.image3_id }}.jpg" height="60">
                                                {% endif %}
                                            </td>
                                            <td class="am-text-middle">{{ upload.update_time |date:"Y-m-d H:i:s"}}</td>
                                            <td class="am-text-middle">
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;" onclick="submitVerify({{ upload.id }},1)">
                                                            <i class="am-icon-pencil"></i> 通过
                                                        </a>
                                                        <a href="javascript:;"  onclick="submitVerify({{ upload.id }},0)" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 不通过
                                                        </a>
                                                    </div>
                                                </td>
                                        </tr>
                                        {% endfor %}
<div id="totalNumDiv" totalPage="{{ pageNum }}"></div>
<script>

    $(".tpl-table-line-img").click(function () {
        console.log("click image");
        $("#modelImage").attr('src',$(this).attr('src'));
        $('#doc-modal-1').appendTo("body").modal().show();
    });

    function submitVerify(id,passFlag) {
        $(this).attr('disabled','true');
        $.ajax({
            type: "get",
            url:"/refund_task/submit/",
            data:{"id":id,"passFlag":passFlag},
            async: false,
            error: function(request) {
                alert("Connection error");
                $(this).removeAttr('disabled');
            },
            success: function(data) {
                if(data == "true"){
                    $("#tr_"+id).remove();
                }else if(data == "no_money"){
                    $("#hints").text('余额不足，请先充值');
                    $("#my-alert").appendTo("body").modal().show();
                }
            }
        });
    };

    $("#allCheckbox").click(function () {
        console.log($("#allCheckbox").get(0).checked);
        if($("#allCheckbox").get(0).checked) {
            $(".uploadCheckbox").prop('checked', true);
        }else{
            $(".uploadCheckbox").removeAttr('checked');
        }
    });

    function batchSubmitVerify(passFlag,csrf_token) {
        var passIds = [];
       $('.uploadCheckbox').each(function() {
           if ($(this).get(0).checked) {
               var val = $(this).attr('val');
               passIds.push(val);
           }
       });
       $.ajax({
            type: "post",
            url:"/refund_task/submit_batch/",
            data:{"ids":JSON.stringify(passIds),"passFlag":passFlag,"csrfmiddlewaretoken":$.cookie('csrftoken')},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                if(data == "no_money"){
                    $("#hints").text('余额不足，请先充值');
                    $("#my-alert").appendTo("body").modal().show();
                }else {
                    $("#refundTaskBtn").click();
                }
            }
        });
    };
</script>