 <div class="row-content am-cf">
                <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">我的专属二维码</div>
                            </div>
                            <div class="widget-body  am-fr">
                                 <div class="am-u-sm-12">
                                     请将次专属二维码发放给每个买家，买家通过扫描次专属二维码可绑定商家
                                 </div>
                                <div class="am-u-sm-12">
                                     <img src="/assets/qrcode/{{ shop_id }}.jpg" style="height: 500px">
                                 </div>
                            </div>
                        </div>

                </div>
                </div>
 </div>