 <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">返现红包大小设置</div>


                            </div>
                             <div class="widget-body  am-fr">
                            <form class="am-form tpl-form-line-form">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">当前金额</label>
                                    <label for="user-name" class=" ">  {{ current_big }} 分 </label>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label" >设置金额</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="user-money" placeholder="输入新的金额">
                                        <small>已审核的返现已经发放给用户无法更改或追回，此操作仅影响今后红包发放</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary" id="saveBtn">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">提示</div>
    <div id="hints" class="am-modal-bd">
      请输入大于100的整数
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>

<script>
    $("#saveBtn").click(function () {
        var m = $('#user-money').val();
        var f = 0;
        if(isNaN(m)){
            //不是数字
            $("#my-alert").appendTo("body").modal().show();
            return;
        }else{
            var f = parseInt(m);
            if(f <= 0){
                $("#my-alert").appendTo("body").modal().show();
                return;
            }
        }
        $.ajax({
            type: "get",
            url:"/setting/change_money/",
            data:{money:f},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $("#moneyAmountBtn").click();
            }
        });
    })
</script>
