<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>
</head>

<body>
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="/assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>

                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>{{ userName }}</span> </a>
                        </li>


                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
    <!-- 侧边导航栏 -->
        <div class="left-sidebar">

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-heading"> <span class="sidebar-nav-heading-info"> </span></li>
                <li class="sidebar-nav-link">
                    <a href="index.html" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
               <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title" >
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 返现审核
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link" >
                            <a href="javascript:;" id="refundTaskBtn">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 未完成
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="javascript:;" id="refundPassBtn">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 审核通过
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="javascript:;" id="refundRefuseBtn">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 审核不通过
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 我的钱包
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="table-list.html" id="accountIndexBtn">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 余额
                            </a>
                        </li>

                        <li class="sidebar-nav-link" id="accountChargeBtn">
                            <a href="table-list-img.html">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 设置
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="table-list.html" id="moneyAmountBtn">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 红包金额
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="table-list-img.html" id="changePasswordBtn">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 更改密码
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

{##}
{#    <div class="tpl-page-container tpl-page-header-fixed">#}
{##}
{##}
{#        <div class="tpl-left-nav tpl-left-nav-hover">#}
{#            <div class="tpl-left-nav-title">#}
{#                功能列表#}
{#            </div>#}
{#            <div class="tpl-left-nav-list">#}
{#                <ul class="tpl-left-nav-menu">#}
{#                    <li class="tpl-left-nav-item">#}
{#                        <a href="/dashboard" class="nav-link active" id="indexNav">#}
{#                            <i class="am-icon-home"></i>#}
{#                            <span>首页</span>#}
{#                        </a>#}
{#                    </li>#}
{##}
{#                    <li class="tpl-left-nav-item">#}
{#                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list" id="refundNavGroup">#}
{#                            <i class="am-icon-table"></i>#}
{#                            <span>返现审核</span>#}
{#                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>#}
{#                        </a>#}
{#                        <ul class="tpl-left-nav-sub-menu" >#}
{#                            <li>#}
{#                                <a onclick="refundTask()" id="refundTaskNav">#}
{#                                    <i class="am-icon-angle-right" ></i>#}
{#                                    <span>未完成</span>#}
{#                                </a>#}
{##}
{#                                <a onclick="refundPass()" id="refundPassNav">#}
{#                                    <i class="am-icon-angle-right"></i>#}
{#                                    <span>审核通过</span>#}
{#                                </a>#}
{#                                <a onclick="refundReject()" id="refundRefuseNav">#}
{#                                    <i class="am-icon-angle-right"></i>#}
{#                                    <span>审核不通过</span>#}
{#                                </a>#}
{##}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{##}
{##}
{#                    <li class="tpl-left-nav-item">#}
{#                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list" id="settingNavGroup">#}
{#                            <i class="am-icon-table"></i>#}
{#                            <span>设置</span>#}
{#                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>#}
{#                        </a>#}
{#                        <ul class="tpl-left-nav-sub-menu" >#}
{#                            <li>#}
{#                                <a onclick="luckeyMoney()" id="userInfoNav">#}
{#                                    <i class="am-icon-angle-right" ></i>#}
{#                                    <span>红包金额</span>#}
{#                                </a>#}
{##}
{#                                <a onclick="password()" id="transMoneyNav">#}
{#                                    <i class="am-icon-angle-right"></i>#}
{#                                    <span>更改密码</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{##}
{#                    <li class="tpl-left-nav-item">#}
{#                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list" id="myAccountNavGroup">#}
{#                            <i class="am-icon-table"></i>#}
{#                            <span>我的钱包</span>#}
{#                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>#}
{#                        </a>#}
{#                        <ul class="tpl-left-nav-sub-menu" >#}
{#                            <li>#}
{#                                <a onclick="myAccount()" id="myAccountNav">#}
{#                                    <i class="am-icon-angle-right" ></i>#}
{#                                    <span>余额</span>#}
{#                                </a>#}
{#                                <a onclick="chargeMoney()" id="chargeMoneyNav">#}
{#                                    <i class="am-icon-angle-right" ></i>#}
{#                                    <span>充值</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}


    </div>
</div>
</div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/iscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>

<script>
$(document).ready(function () {
    console.log('load');
    $("#refundTaskBtn").click(function () {
        $.ajax({
            type: "get",
            url:"/refund_task/task",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $(".active").removeClass("active");
                $("#refundTaskBtn").addClass("active");
            }
        });
    });
    $("#refundPassBtn").click(function () {
        $.ajax({
            type: "get",
            url:"/refund_task/passed",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $(".active").removeClass("active");
                $("#refundPassBtn").addClass("active");
            }
        });
    });
    $("#refundRefuseBtn").click(function () {
        $.ajax({
            type: "get",
            url:"/refund_task/reject",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $(".active").removeClass("active");
                $("#refundRefuseBtn").addClass("active");
            }
        });
    });
    $("#moneyAmountBtn").click(function () {
        $.ajax({
            type: "get",
            url:"/setting/lucky_money",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $(".active").removeClass("active");
                $("#moneyAmountBtn").addClass("active");
            }
        });
    });
    $("#changePasswordBtn").click(function () {
        $.ajax({
            type: "get",
            url:"/setting/trans_money",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $(".active").removeClass("active");
                $("#changePasswordBtn").addClass("active");
            }
        });
    });
    $("#accountIndexBtn").click(function () {
        $.ajax({
            type: "get",
            url:"/account/",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $(".active").removeClass("active");
                $("#accountIndexBtn").addClass("active");
            }
        });
    });
    $("#accountChargeBtn").click(function () {
        $.ajax({
            type: "get",
            url:"/mail/inbox",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $(".active").removeClass("active");
                $("#accountChargeBtn").addClass("active");
            }
        });
    });
})


</script>