<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/echarts.min.js"></script>
</head>

<body data-type="index">


    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="/assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{ userName }}</span><span class="tpl-header-list-user-ico"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="###" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>


    <div class="tpl-page-container tpl-page-header-fixed">


        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="index.html" class="nav-link active" id="indexNav">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list" id="refundNavGroup">
                            <i class="am-icon-table"></i>
                            <span>返现审核</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" >
                            <li>
                                <a onclick="refundTask()" id="refundTaskNav">
                                    <i class="am-icon-angle-right" ></i>
                                    <span>未完成</span>
                                </a>

                                <a onclick="refundPass()" id="refundPassNav">
                                    <i class="am-icon-angle-right"></i>
                                    <span>审核通过</span>
                                </a>
                                <a onclick="refundReject()" id="refundRefuseNav">
                                    <i class="am-icon-angle-right"></i>
                                    <span>审核不通过</span>
                                </a>

                            </li>
                        </ul>
                    </li>


                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list" id="settingNavGroup">
                            <i class="am-icon-table"></i>
                            <span>设置</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" >
                            <li>
                                <a onclick="luckeyMoney()" id="userInfoNav">
                                    <i class="am-icon-angle-right" ></i>
                                    <span>红包金额</span>
                                </a>

                                <a onclick="password()" id="transMoneyNav">
                                    <i class="am-icon-angle-right"></i>
                                    <span>更改密码</span>
                                </a>

                            </li>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list" id="mailNavGroup">
                            <i class="am-icon-table"></i>
                            <span>我的消息</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" >
                            <li>
                                <a onclick="mailInbox()" id="mailInboxNav">
                                    <i class="am-icon-angle-right" ></i>
                                    <span>站内信</span>
                                </a>

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>





        <div class="tpl-content-wrapper" id="mainContent">


        </div>

    </div>


    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/iscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>

<script type="text/javascript">
function refundTask() {
    $.ajax({
            type: "get",
            url:"/refund_task/task",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $("#mainContent").html(data);
                $(".active").removeClass("active");
                $("#refundTaskNav").addClass("active");
                $("#refundNavGroup").addClass("active");
            }
        });
}

function refundPass() {
    $.ajax({
            type: "get",
            url:"/refund_task/passed",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $("#mainContent").html(data);
                $(".active").removeClass("active");
                $("#refundPassNav").addClass("active");
                $("#refundNavGroup").addClass("active");
            }
        });
}

function refundReject() {
    $.ajax({
            type: "get",
            url:"/refund_task/reject",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $("#mainContent").html(data);
                $(".active").removeClass("active");
                $("#refundRefuseNav").addClass("active");
                $("#refundNavGroup").addClass("active");
            }
        });
}

function luckeyMoney() {
    $.ajax({
            type: "get",
            url:"/setting/lucky_money",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $("#mainContent").html(data);
                $(".active").removeClass("active");
                $("#userInfoNav").addClass("active");
                $("#settingNavGroup").addClass("active");
            }
        });
}

function password() {
    $.ajax({
            type: "get",
            url:"/setting/trans_money",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $("#mainContent").html(data);
                $(".active").removeClass("active");
                $("#transMoneyNav").addClass("active");
                $("#settingNavGroup").addClass("active");
            }
        });
}
function mailInbox() {
    $.ajax({
            type: "get",
            url:"/mail/inbox",
            data:{},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function(data) {
                $("#mainContent").html(data);
                $(".active").removeClass("active");
                $("#mailInboxNav").addClass("active");
                $("#mailNavGroup").addClass("active");
            }
        });
}


</script>